Aukcija (WCF)/Client/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAukcija" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAukcija" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfKlijent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klijent" nillable="true" type="tns:Klijent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlijent" nillable="true" type="tns:ArrayOfKlijent" />
  <xs:complexType name="Klijent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klijent" nillable="true" type="tns:Klijent" />
  <xs:complexType name="ArrayOfEksponat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Eksponat" nillable="true" type="tns:Eksponat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEksponat" nillable="true" type="tns:ArrayOfEksponat" />
  <xs:complexType name="Eksponat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdKlijenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eksponat" nillable="true" type="tns:Eksponat" />
</xs:schema>